@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700;1,800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'popins' , sans-serif;
}

html,body{
    background-color: aliceblue;
}

header{
    padding:10px;
    text-align: center;
    background-color: #0D0630;
    color:#fff;
    font-size:20px;
}

main{
    background-color: #fff;
    width: 800px;
    padding:30px;
    margin:20px auto;
    text-align: center;
    font-weight: 600;
}

main > div > h1{
    font-size: 20px;
}

main > div > p{
    font-size: 18px;
}

.food-input{
    padding:5px 10px;
    outline:none;
    background-color: rgb(249, 248, 248);
    width:300px;
}

.button-input{
    padding:5px 10px;
    background-color:#0D0630;
    color:#fff;
    border:none;
    border-radius:5px;
    margin-left:10px;
}

#response{
    font-size:20px;
}